<!DOCTYPE html>
{%extends 'app_1/base2.html' %}
<!--COGER NOMBRE USUARIO DE INICIO DE SESION-->
{% load account %}
{% user_display user %}
{% load static %}

{% block estilo %}
  <link rel="stylesheet" href="{% static 'css/profile.css'%}"> 

{% endblock %}
{%block title%}
 YouFlix
{%endblock%} 

{% block contentVideo %}
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
        <div class="row">
          <div class="col-12 col-xs-3 col-sm-3 col-lg-3" id="panelI">
                <h3 class="dysplay-6 " id="title">YOUFLIX</h3>
                <div class="content">
                  <div class="header-prof"> 
                    <figure>
                      <img class="rounded-circle" src="{{ user.socialaccount_set.all.0.get_avatar_url }}" alt="userImg" />
                    </figure>
                    <h1>{% user_display user %}</h1>
                    <p>Canal</p>
                  </div>
                </div>
          </div>
          <div class="col-12 col-xs-9 col-sm-9 col-lg-9" id="panelD">
            <div class="scroll-bg" >
              <div class="scroll-div" >
                <div class="scroll-object" >
                  <div class="row mt-4" >
                    {% if object_list %} {% comment %} COMPROBACION DE SI NOS DEVUELVE UNA LISTA {% endcomment %}
                    {% for video in object_list %}  {% comment %} RECORREMOS {% endcomment %}
                    <div class="col-sm 12 col-md-4 col-md-4 col-md-4  py-2">
                      <a href="/player/{{video.title}}" class="text-decoration-none">
                      <div class="cubo">
                        <img src="{{video.thumnail}}" class="rounded cubo-img-top" alt="{{video.title}}"/>
                        <div class="cubo-body p-3">
                          <h5 class="cubo-title p-3 text-left">{{video.title}}</h5>
                          <p class="cubo-text p-3 text-justify">{{video.description}}</p>
                          <p class="cubo-text p-3"><small class="text">{{video.datetime}}</small></p>
                        </div>
                      </a>
                      </div>
                    </div>
                    {% endfor %}
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
{% endblock %}
</html>