<!DOCTYPE html>
{%extends 'app_1/base2.html' %}

<!--COGER NOMBRE USUARIO DE INICIO DE SESION-->
{% load account %}
{% user_display user %}


{% load static%}
{% block estilo %}
<link rel="stylesheet" href="../../static/css/video.css">
  <link rel="stylesheet" href="../../static/css/styleProfile2.css">
  <link rel="stylesheet" href="../../static/css/styleProfile.css">
{% endblock %}

{%block title%}
 <p>YouFlix</p>
{%endblock%} 

{% block contentVideo %}
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

<!--<div class="container">-->
        <div class="row justify-content-center">
          <div class="col-12 col-sm-8 col-lg-6">
            <!-- Section Heading-->
            <div class="section_heading text-center wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
              <h3 class="dysplay-6 text-danger" id="title">YOUFLIX</h3>
              <div class="line"></div>
            </div>
          </div>
        </div>
        <div class="row">
          <!-- Single Advisor-->
          <div class="col-12 col-xs-3 col-sm-3 col-lg-3">

            
            <figure class="snip1336">
              <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample87.jpg" alt="sample87" />
              <figcaption>
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/profile-sample4.jpg" alt="profile-sample4" class="profile" />
                <h2>Hans Down<span>Engineer</span></h2>
                <p>efwrferferferferferferferferfer</p>
              </figcaption>
            </figure>

          </div>
          <div class="col-12 col-xs-9 col-sm-9 col-lg-9">
            <div class="scroll-bg" >
              <div class="scroll-div" >
                <div class="scroll-object" >
                  <div class="row mt-5">
                    {% if object_list %} {% comment %} COMPROBACION DE SI NOS DEVUELVE UNA LISTA {% endcomment %}
                    {% for video in object_list %}  {% comment %} RECORREMOS {% endcomment %}
                    <div class="col-sm 12 col-md-4 col-md-4 col-md-4 py-2">
                      <a href="/player/{{video.title}}" class="text-decoration-none">
                      <div class="cubo">
                        <img src='{{video.thumnail}}' class="rounded cubo-img-top" alt="{{video.title}}"/>
                        <div class="cubo-body p-3">
                          <h5 class="cubo-title p-3 text-left">{{video.title}}</h5>
                          <p class="cubo-text p-3 text-justify">{{video.description}}</p>
                          <p class="cubo-text p-3"><small class="text-muted">{{video.datetime}}</small></p>
                        </div>
                      </a>
                      </div>
                    </div>
                    {% endfor %}
                    {% endif %} 
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
       
<!--</div>-->
{% endblock %}
