{% extends 'app_1/base.html' %} {% load static %} {% block estilo %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<link rel="stylesheet" href="{% static 'css/stadistics.css' %}" />
<link
rel="icon"
type="image/x-icon"
href="{% static 'img/logoico.ico' %}"
/>
<title>Estadisticas</title>

{% endblock %} {% block contentVideo %}
<h1>ESTADISTICAS</h1>

<div class="container">
  {% for v in videos %} 
  <div class="col-sm-1 col-md-6 col-lg-4">
    <div class="card card-graph p-2 m-2">
      <span
        class="card-graph_title badge bg-danger rounded-pill w-100 text-center"
      >
        {{v.title}}</span
      >
      <canvas id="myChart{{v.id}}"></canvas>
      <div class="legend">


        
          <div class="label">
            <p>Likes: {{v.likes.count}}</p>
          </div>


          <div class="label">
            <p>Dislikes: {{v.dislikes.count}}</p>
          </div>

      </div>
    </div>
  </div>

  <script type="text/javascript">


    var ctx = document.getElementById('myChart{{v.id}}')
        new Chart(ctx, {
          type: 'pie',
          data: {
            labels: ['Likes', 'Dislikes'],
            datasets: [
                {
                    label: '{{v.title}}',
                    data: [{{v.likes.count}}, {{v.dislikes.count}}],
                    borderColor:['#CD5C5C','#4F2172'],
                    backgroundColor:['#FA8072','#C6AADB'],
                  },
            ]

          },
        });
  </script>

  {% endfor %}
</div>

{% endblock %}
