<!DOCTYPE html>
{%extends 'app_1/base.html' %} {% load account %} {% user_display user %}

{% block estilo %}<link rel="stylesheet" href="../../static/css/video.css"> {% endblock %}

{%block title%}
<p>Titulo añadido</p>
{%endblock%} {% block contentVideo %}
<div class="row mt-5">
  <h3 class="dysplay-6 text-danger">YOUFLIX</h3>
  {%for video in videos%}
  <div class="col-sm 12 col-md-4 col-md-4 col-md-4 py-2">
    <div class="card shadow">
      <a href="/player/{{video.title}}">
        <div class="card-body">
          <video
            loop
            class="card-img-top hover-to-play"
            width="320"
            height="240"
          >
            <source src="{{video.path}}" type="video/mp4" />
          </video>
          <div class="card-body text-left">
            <h5 class="card-title text-left">{{video.title}}</h5>
            <p class="card-text text-left">{{video.description}}</p>
            <p class="blockquote-footer text-left">{{video.datetime}}</p>
          </div>
        </div>
      </a>
    </div>
  </div>

  {%endfor%}
</div>
{% endblock %} {% block contentNav %} {% endblock %}
