.container {
  max-width: 980px;
}

.title {
  color: white;
}

.container{
  overflow: hidden;
}
.rounded-circle{
  float: right;
  width: 50px;
}
.name{
  margin-left: 25px;
  float: right;
  font-size: 20px;
  color: white;
  background-color: #dc3444;
  border-radius: 10px;
  padding: 1%;
}
video {
  border-radius: 5%;
  width: 100%;
}
/*video?*/
.video-tam {
  width: 220px;
  height: 140px;
}

#tit {
  font-size: 20px;
  margin-top: 2%;
  text-align: left;
}

.descrip {
  color: white;
}

.img-logo {
  width: 30vh;
}
.img-user {
  width: 10vh;
}

.cont-descrip {
  margin-top: 5%;
  background-color: #dc3444;
  border-radius: 10px;
  padding: 2%;
  font-size: 20px;
}
