.body{
    background:#1B1C1E;
    background-size:cover;
}
h1{
    text-align: center;
    color: #dd1818;
    font-size: 4em;
    margin-left: 20px;
}
.container{
    display: flex;
   flex-wrap: wrap;

}
h3{
    color: rgb(248, 248, 248);
   
}
.context{
    background-color: rgba(255, 255, 255, 0.03);
    width: 100%;
}
.text{
    display: flex;
    flex-wrap: wrap;
    color: rgba(255,255,255,.03);
    width: 100%;
   
}
#likes{
    margin-right: 5%;
}
.gr{
    margin:3%;
    height: auto ;
    padding: 10px 10px 30px;
    border-radius: 10px;
    border:1px solid transparent;
    backdrop-filter:blur(1rem);
    
    box-shadow: 1.3rem 1.3rem 1.3rem rgba(0, 0, 0, 0.3);
    border-top-color:  rgba(255, 255, 255, 0.228);
    border-left-color: rgba(255, 255, 255, 0.228);
}

.gr1{
    margin:3%;
    height: auto ;
    padding: 10px 10px 30px;
    border-radius: 10px;
    border:1px solid transparent;
    backdrop-filter:blur(1rem);
    width: 90%;
    box-shadow: 1.3rem 1.3rem 1.3rem rgba(0, 0, 0, 0.3);
    border-top-color:  rgba(255, 255, 255, 0.228);
    border-left-color: rgba(255, 255, 255, 0.228);

}
#myChart{
    
    padding:4%;
   width: 100%;
   height: 100%;
   
}

.card {
    padding: 1rem;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
}
.card-graph .card-graph_title {
    text-transform: uppercase;
    font-weight: bold;
}
.card-graph .graph {
    height: 250px;
}

.card-graph .legend .label {
    display: inline-flex;
    align-items: center;
    text-align: left;
}
.card-graph .legend .label .color {
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border-width: 3px;
    border-style: solid;
    border-color: #fb263b;
}

