html{
    margin-bottom: 10%;
}
.a card-title{
    text-decoration: none;

}
.a card-text{
    text-decoration: none;
}
.card-body{
    background-color: #303030;
    color: white;
    text-decoration: none;
    
}