html {
  margin-bottom: 10%;
  overflow-x: hidden;
  overflow-y: hidden;
  overflow: hidden;
}


.container {
  overflow-x: hidden;
  overflow-y: hidden;
  overflow: hidden;
}

.body {
  background-color: #1b1c1e;
}

.cubo-img-top {
  object-fit: cover;
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.cubo {
  position: relative;
  border-radius: 100px;
}

.cubo::after {
  position: absolute;
  top: 0px;
  left: 0px;
  content: " ";
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right, #252525, #fb4848);
  filter: blur(7px);
  z-index: -1;
}
.cubo-body {
  background-color: #252525;
  color: white;
  text-decoration: none;
  text-transform: none;
  text-decoration-line: none;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.cubo-title {
  color: #ffffff;
  text-decoration: none;
}
.cubo-text {
  color: #f2f2f2;
  text-decoration: none;
  text-align: justify;
  border-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
#title {
  text-align: left;
  color: #dd1818;
  font-size: 5.5em;
  margin-left: 20px;
}

.scroll-bg {
  overflow-x: hidden;
  overflow-y: hidden;
  overflow: hidden;
  margin: 2%;
}
.scroll-div {
  width: 97%;
  height: 1000px;
  scroll-behavior: smooth;
  overflow-y: scroll;
}

.dashboard-content{
  margin-bottom: 10%;
}


.glitch-window {
  position: absolute;
  top: 0;
  left: -2px;
  width: 100%;
  color: #222;
  text-shadow: 2px 0 #f9f8f8, -1px 0 yellow, -2px 0 green;
  overflow: hidden;
  animation: crt-me 2500ms infinite linear alternate-reverse;
}
@keyframes crt-me {
  0% {
    clip: rect(31px, 9999px, 94px, 0);
 }
  10% {
    clip: rect(112px, 9999px, 76px, 0);
 }
  20% {
    clip: rect(85px, 9999px, 77px, 0);
 }
  30% {
    clip: rect(27px, 9999px, 97px, 0);
 }
  40% {
    clip: rect(64px, 9999px, 98px, 0);
 }
  50% {
    clip: rect(61px, 9999px, 85px, 0);
 }
  60% {
    clip: rect(99px, 9999px, 114px, 0);
 }
  70% {
    clip: rect(34px, 9999px, 115px, 0);
 }
  80% {
    clip: rect(98px, 9999px, 129px, 0);
 }
  90% {
    clip: rect(43px, 9999px, 96px, 0);
 }
  100% {
    clip: rect(82px, 9999px, 64px, 0);
 }
}