{% load account %}
{% load static %}

<script type="text/javascript" src="{% static 'js/error.js'%}"></script>
<link href="{% static 'css/error.css'%}" rel="stylesheet" />
<div class="text">
  <div>ERROR</div>
  <h1>404</h1>
  <div>
    <a href="{% url 'login' %}">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      Volver a un Sítio Seguro
    </a>
  </div>
  <hr />
  <div>Page Not Found</div>
</div>

<div class="astronaut">
  <img
    src="../../static/img/astronautaflotango.png"
    alt="astronauta"
    class="src"
  />
</div>
